body {
    background-color: rgb(255, 136, 0);
    color: white;
  }

  .container-fluid {
    padding: 3px 15px;
  }

  .navbar {
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    font-size: 14px;
    line-height: 1.42857143;
    letter-spacing: 2px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
    opacity: 0.9;
  }

  .catalog-steam .steam {
    max-width: 500px;
    padding-top: 0px;
    padding-left: 25px;
  }

  .steam-wallet .steam-text h3 {
    padding-left: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .steam-wallet .steam-text p {
    padding-left: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    padding-right: 50px;
  }

  .col-md-7 .bgputih {
    width: 90%;
    height: 300px;
    padding-bottom: 5px;
    background-color: white;
    border-radius: 1%;
    padding-right: 10px;
  }

  .col-md-7 .bgputih .putih-bundar {
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    bottom: 23px;
    left: 15px;
  }

  .col-md-7 .bgputih .putih-bundar .orange-bundar {
    background-color: rgb(255, 136, 0);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: relative;
    top: 5px;
    left: 8px;
  }

  .col-md-7 .bgputih .putih-bundar .orange-bundar .satu {
    padding-left: 13px;
    padding-top: 6px;
  }

  .col-md-7 .bgputih h3 {
    color: rgb(104, 104, 104);
    position: relative;
    bottom: 70px;
    left: 90px;
  }

  .col-md-7 .bgputih2 h3 {
    color: rgb(104, 104, 104);
    position: relative;
    bottom: 70px;
    left: 90px;
  }

  .col-md-7 .bgputih3 h3 {
    color: rgb(104, 104, 104);
    position: relative;
    bottom: 70px;
    left: 90px;
  }

  .col-md-7 .bgputih3 p {
    color: rgb(104, 104, 104);
    position: relative;
    bottom: 70px;
    left: 90px;
  }


  .col-md-7 .bgputih3 {
    width: 90%;
    height: 240px;
    background-color: white;
    border-radius: 1%;
  }

  .col-md-7 .bgputih3 .putih-bundar3 {
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    bottom: 22px;
    left: 15px;
  }

  .col-md-7 .bgputih3 .putih-bundar3 .orange-bundar3 {
    background-color: rgb(255, 136, 0);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: relative;
    top: 5px;
    left: 8px;
  }

  .col-md-7 .bgputih3 .putih-bundar3 .orange-bundar3 .tiga {
    padding-left: 13px;
    padding-top: 6px;
  }

   .bgputih .col-md-12 {
     bottom: 50px;
   }

   .bgputih .col-md-12 .col-md-4 .wallet-12 {
    position: relative;
    border-style: solid;
    border-color: rgb(170, 170, 170);
    border-radius: 5px;
    border-width: 1px;
    bottom: 50px;
    width: 108%;
    height: 60px;
    top: 0px;
    color: gray;
    bottom: 70px;
   }

   .bgputih .col-md-12 .col-md-4 .wallet-12 h4 {
    margin-left: 30px;
    margin-top: 18px;
   }

   .bgputih .col-md-12 .col-md-4 .wallet-45 {
    position: relative;
    border-style: solid;
    border-color: rgb(170, 170, 170);
    border-radius: 5px;
    border-width: 1px;
    bottom: 50px;
    width: 108%;
    left: 2px;
    right: 70px;
    height: 60px;
    top: 0px;
    color: gray;
   }

   .bgputih .col-md-12 .col-md-4 .wallet-45 h4 {
    margin-left: 30px;
    margin-top: 18px;
   }

   .bgputih .col-md-12 .col-md-4 .wallet-60 {
    position: relative;
    border-style: solid;
    border-color: rgb(170, 170, 170);
    border-radius: 5px;
    border-width: 1px;
    bottom: 50px;
    width: 108%;
    left: 2px;
    right: 70px;
    height: 60px;
    top: 0px;
    color: gray;
   }

   .bgputih .col-md-12 .col-md-4 .wallet-60 h4 {
    margin-left: 30px;
    margin-top: 18px;
   }

   .bgputih .col-md-12 .col-md-4 .wallet-90 {
    position: relative;
    border-style: solid;
    border-color: rgb(170, 170, 170);
    border-radius: 5px;
    border-width: 1px;
    bottom: 50px;
    width: 108%;
    height: 60px;
    top: 10px;
    color: gray;
    bottom: 70px;
   }

   .bgputih .col-md-12 .col-md-4 .wallet-90 h4 {
    margin-left: 30px;
    margin-top: 18px;
   }

   .bgputih .col-md-12 .col-md-4 .wallet-120 {
    position: relative;
    border-style: solid;
    border-color: rgb(170, 170, 170);
    border-radius: 5px;
    border-width: 1px;
    bottom: 50px;
    width: 108%;
    left: 2px;
    right: 70px;
    height: 60px;
    top: 10px;
    color: gray;
   }

   .bgputih .col-md-12 .col-md-4 .wallet-120 h4 {
    margin-left: 30px;
    margin-top: 18px;
   }

   .bgputih .col-md-12 .col-md-4 .wallet-250 {
    position: relative;
    border-style: solid;
    border-color: rgb(170, 170, 170);
    border-radius: 5px;
    border-width: 1px;
    bottom: 50px;
    width: 108%;
    left: 2px;
    right: 70px;
    height: 60px;
    top: 10px;
    color: gray;
   }

   .bgputih .col-md-12 .col-md-4 .wallet-250 h4 {
    margin-left: 30px;
    margin-top: 18px;
   }

   .bgputih .col-md-12 .col-md-4 .wallet-400 {
    position: relative;
    border-style: solid;
    border-color: rgb(170, 170, 170);
    border-radius: 5px;
    border-width: 1px;
    bottom: 50px;
    width: 108%;
    left: 2px;
    right: 70px;
    height: 60px;
    top: 20px;
    color: gray;
   }

   .bgputih .col-md-12 .col-md-4 .wallet-400 h4 {
    margin-left: 30px;
    margin-top: 18px;
   }

   .bgputih .col-md-12 .col-md-4 .wallet-600 {
    position: relative;
    border-style: solid;
    border-color: rgb(170, 170, 170);
    border-radius: 5px;
    border-width: 1px;
    bottom: 50px;
    width: 108%;
    left: 2px;
    right: 70px;
    height: 60px;
    top: 20px;
    color: gray;
   }

   .bgputih .col-md-12 .col-md-4 .wallet-600 h4 {
    margin-left: 30px;
    margin-top: 18px;
   }

   .col-md-7 .bgputih3 .form-group {
      width: 94%;
      left: 20px;
      position: relative;
      bottom: 70px;
   }

   .col-md-7 .bgputih3 button {
     position: relative;
     bottom: 55px;
     float: right;
     right: 30px;
     background-color: rgb(255, 136, 0);
     height: 45px;
     width: 15%;
   }

   .col-md-7 .bgputih3 .form-group2 {
    width: 94%;
    left: 20px;
    position: relative;
    bottom: 70px;
   }