
* {
    box-sizing: border-box;
  }
  
  /* Add a gray background color with some padding */
  body {
    font-family: Arial;
    padding: 20px;
    background: rgb(255, 136, 0);
   
  }
  
  /* Header/Blog Title */
  .header {
    padding: 20px;
    font-size: 40px;
    text-align: center;
    background: rgb(252, 182, 102);
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 0px;
   /* max-height: 200px;
    width: auto;*/
    overflow: hidden;
    
  }
  
  /* Add a card effect for articles */
  .card {
     background-color: rgb(252, 182, 102);
     padding: 20px;
     margin-top: 20px;
     border-radius: 5%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }

  .container-fluid {
    padding: 3px 15px;
  }

  .navbar {
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    font-size: 14px;
    line-height: 1.42857143;
    letter-spacing: 2px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
    opacity: 0.9;
  }
  