.body{
    background-color: rgb(255, 136, 0);
}
.row1{
padding-top: 65px;
/*background-color: rgb(131, 131, 131);*/

}
.container{
    height: 400px;
    width: 1700px;
}
.logo_steam{
    height: 600px;
    width: 800px;
    float: left;
    padding-left: 5px;
    padding-right: 50px;
 
}

.list_harga{
    float: left;
}

.card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 350px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price1 {
    color: rgb(54, 54, 54);
    font-size: 22px;
  }
  
  .card1 button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card1 button:hover {
    opacity: 0.7;
  }



.list_metodepembayaran{
  float: left;
  padding-left: 70px;
}


.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

 
.price2 {
  color: rgb(54, 54, 54);
  font-size: 22px;
}

.card2 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card2 button:hover {
  opacity: 0.7;
}








.input{
  width: 50%;
  height: 35px;
}

.input_email_player{
float: left;
padding-left: 50px;
width: 1500px;
}





.card3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  float: left;
  padding-left: 50px;
}

 
.price3 {
  color: rgb(54, 54, 54);
  font-size: 22px;
}

.card3 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card3 button:hover {
  opacity: 0.7;
}

.container-fluid {
  padding: 3px 15px;
}

.navbar {
  margin-bottom: 0;
  z-index: 9999;
  border: 0;
  font-size: 14px;
  line-height: 1.42857143;
  letter-spacing: 2px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
  opacity: 0.9;
}